*{
  margin:0;
  padding:0;
}

body{
  /* height:100vh; */
  width:100vw;
  /* width:100vw; */
  /* overflow-x: hidden; */
  /* background-color: rgba(158,202,250,0.6); */
  /* border:1px solid green; */
}

/* body h1{
  width:60vw;
  height:50vh;
  border:1px solid black;
} */


  /* position: absolute; */
  /* position:fixed; */
  /* left:880px;right:80px; */

  /* justify-content:flex-end; */


img{
  border:1px solid green;
  /* position:absolute;
  top:10px; */
  margin:100px 0px 0px 80px;
  position:absolute;
}

.background-color{
    background-color: rgba(158,202,250,1);
    background-size: cover;

}

h1{
  padding: 50px 0px 0px 50px;
  width:60vw; height:30vh;
  /* border:1px solid green; */
  font-family: 'Rubik', sans-serif;
  font-size: 3.5em;
  color:white;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 1.8px;
  position:absolute;
  top:200px; left:600px;

}

h2{
  padding: 170px 0px 0px 50px;
  width:60vw; height:30vh;
  /* border:1px solid green; */
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
  color:white;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 1.4px;
  position:absolute;
  top:200px; left:600px;

}

#navigation {
  /* display:flex; */
  border: 1px solid green;
  margin:0px 80px 0 80px;
  position: fixed;
  width:100vw;
  /* width: auto; */
}


.flex-item{
    width:50px;
    height:100px;
}
