*{
  margin:0;
  padding:0;
}

a:link{
  text-align: justify;
  text-decoration:none;
  color: white;
}

a{
  transition: cubic-bezier(.17,.67,.96,-0.3)700ms 0s;
}

a:visited{
  color: #808080;
}


a:hover{
  /* text-decoration:underline; */
  Color:white;
  /* background-color:rgba(158,202,250,1); */
}
a:active{
  color:rgba(158,202,250,1);
}

.background-color{
    background-color: rgba(158,202,250,1);
    background-size: cover;

}

nav ul{
  list-style: none;
  text-align: right;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1.4px;
  position: fixed;
  top: 40px;right:100px;
  z-index: 9;
  /* background-color: rgba(158,202,250,0.5); */
}

/* #container div{
  background-color: rgba(158,202,250,0.5)
} */
#container div:nth-child(1){
  /* border: 1px solid yellow; */
  /* margin-top: 100px; */
}

nav ul li{
  display: inline-block;
  margin: -50px 20px 20px 20px;
}

div{
    /* background-color:rgba(158,202,250,0.5);  */
    height: 450px;

}

h1{
  padding: 450px 0px 0px 100px;
  width:100vw; height:50vh;
  /* border:1px solid green; */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 6.5em;
  color:white;
  font-weight:bolder;
  line-height: 1.15;
  letter-spacing: 1.6px;
}

h2{
  /* border:1px solid yellow; */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  color:white;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 1.5px;
  position: relative;
  top:-835px;
  margin-left: 100px;

}

span{
    /* border:1px solid yellow; */
    float:left;
    font-family: 'Libre Baskerville', serif;
    font-size: 10rem;
    color:rgba(158,202,250,1);
    margin-top: -20px;
    margin-left:100px;
}

span:hover{
  transition-duration:1s;
  color:white;

}

h3{
  float:left;
  position: absolute;
  /* border:1px solid black; */
  font-size: 1.4rem;
  font-weight:bolder;
  letter-spacing: 2px;
  margin-left: 300px;
  /* margin-top: 20px; */
}

p{
  float: left;
  position: absolute;
  top:50px;
  /* border:1px solid rgb(0, 7, 255); */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  font-weight:100;
  letter-spacing: 1.2px;
  line-height: 1.3;
  color: #333333;
  margin-left: 300px;
  margin-right: 150px;
}


.section-2-div span{
  margin-left: 300px;
}

.section-2-div h3{
  margin-left: 500px;
}

.section-2-div p{
  margin-left: 500px;
}

.section-3-div p{
  margin-right:500px;
}

.section-4-div span{
  margin-left: 600px
}

.section-4-div h3{
  margin-left: 800px;
}

.section-4-div p{
  margin-left: 800px;
  margin-right: 100px;
}

h4 {
  /* url('../img/arrow.png'); */
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1.4px;
  position: fixed;
  top: 655px;right:100px;
  z-index: 9;
  /* border:1px solid green; */
}

footer a:link{
  text-decoration: underline;
}

footer a:visited{
  color:rgba(158,202,250,1);
}
